# Maven / Java
/target/
**/target/
*.class

# IntelliJ IDEA
/.idea/
/*.iml
/*.iws

# Eclipse
/.settings/
*.classpath
*.project
*.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Misc
.DS_Store
.env
